.todoListItem {}

.todoListItemButton {
  width: 80px;
  height: 50px;
  margin: 3px;
}

.todoListItemLabel {
  padding: 10px 0 10px 20px;
  line-height: 35px;
  cursor: pointer;
  flex-grow: 1;
}

.todoListItemLabelDone {
  composes: todoListItemLabel;
  text-decoration: line-through;
}

.todoListItemLabelImportant {
  composes: todoListItemLabel;
  font-weight: bold;
  color: steelblue;
}