.todoListItem {}

.todoListItemButton {
  width: 80px;
  height: 50px;
  margin-left: 3px;
}

.todoListItemTask {
  padding: 10px 0 10px 20px;
  line-height: 35px;
  cursor: pointer;
  flex-grow: 1;
  user-select: none;
}

.todoListItemTaskCompleted {
  composes: todoListItemTask;
  text-decoration: line-through;
}

.todoListItemTaskImportant {
  composes: todoListItemTask;
  font-weight: bold;
  color: tomato;
}