.todoListItem {}

.todoListItemButton {
  width: 80px;
  height: 50px;
  margin: 3px;
  font-size: 16px;

  color: #805a3b;
  background-color: transparent;
  border: 1px solid #805a3b;
  border-radius: 4px;
}

.todoListItemButton:hover,
.todoListItemButton:focus {
  background-color: #fd974f;
}


.todoListItemTask {
  padding: 10px 0 10px 20px;
  line-height: 35px;
  cursor: pointer;
  flex-grow: 1;
  user-select: none;
}

.todoListItemTaskCompleted {
  composes: todoListItemTask;
  text-decoration: line-through;
}

.todoListItemTaskImportant {
  composes: todoListItemTask;
  font-weight: 800;
  color: #c60000;
}