.taskFilter {
    display: inline-block;
}

.radioToolbar input[type="radio"] {
    display: none;
}

.radioToolbar label {
    display: inline-block;
    margin-left: 5px;
    padding: 6px 16px;
    cursor: pointer;
    border-radius: 2px;

    font-size: 18px;

    color: rgb(128, 90, 59);
    border: 1px solid rgb(128, 90, 59);
}

.radioToolbar input:checked+label,
.radioToolbar label:hover {
    background-color: #fd974f;
    border: 1px solid rgb(128, 90, 59);
}