.addItemForm {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addItemForm button {
    display: inline-block;
    width: 120px;
    height: 46px;
    margin-left: 2px;
    font-size: 18px;
    color: #805a3b;
    background-color: transparent;
    border: 1px solid #805a3b
}

.addItemForm button:hover {
    background-color: #fd974f;
}

.addItemForm input {
    height: 40px;
    width: 550px;
    font-size: 16px;

}